// @use "~@cloudscape-design/design-tokens" as cs;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 44px;
  background: #ffffff;
  background: var(--color-background-layout-main-sfhm4y, #ffffff);
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-amplify-authenticator] [data-amplify-container] {
  margin-top: 100px;
}

.App {
  min-height: calc(100vh - 44px);
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.gap-3 {
  gap: 3px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.w-75p {
  width: 75%;
}

.m-w-320 {
  min-width: 320px;
}

.align-center {
  align-items: center;
}

.page-loading {
  text-align: center;
  padding: 20px;
}

.transform-180 {
  transform: rotate(180deg);
}

.custom-description {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #8d99a8;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.oidc-login {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  .title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #666;
  }
}

.content-loading {
  text-align: center;
  margin-top: 80px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.line {
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
  width: 100%;
}

.white {
  color: var(--color-text-interactive-default-eg5fsa, #414d5c) !important;
}

.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pd-20 {
  padding: 20px;
}

.plr-20 {
  padding: 0 20px;
}

.pl-30 {
  padding-left: 30px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.w-45p {
  width: 45%;
}

.wrap-line {
  word-break: break-all !important;
  white-space: break-spaces;
}

.divider {
  background-color: #ccc;
}

.more-settings {
  border-top: 1px solid #ccc;
  padding: 15px 0 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.project-name-suffix {
  font-size: 16px;
  display: inline-block;
  padding: 5px 0 0;
  margin-left: -10px;
}

.project-id {
  display: inline-block;
  padding: 6px 18px;
  background-color: #e9ebed;
  border-radius: 10px;
  cursor: pointer;
}

.project-env {
  position: absolute;
  right: 20px;
  bottom: 20px;
  .unspecified {
    background-color: #d1d5db;
    font-family: 'Open Sans', 'Helvetica Neue', Roboto, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 0.005em;
    line-height: 22px;
    display: inline-block;
    border-radius: 4px;
    padding: 0 8px;
    color: #fff;
  }
}

.button-actions {
  button {
    margin-left: 10px;
  }
}

.code-container {
  position: relative;
  color: #9ba7b6;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  .copy-button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.maxmind-copyright {
  font-size: 12px;
  padding: 2px 0 2px 4px;
  color: #888;
}

#h {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  background-color: #0f1b2a;
  font-family: 'Open Sans', 'Helvetica Neue', Roboto, Arial, sans-serif;
  font-family: var(
    --font-family-base-qnistn,
    'Open Sans',
    'Helvetica Neue',
    Roboto,
    Arial,
    sans-serif
  );
}
#b {
  padding-top: 56px;
}
ul.menu-list {
  height: 40px;
  font-size: 14px;
  padding: 0 20px;
}
ul.menu-list,
ul.menu-list ul {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
}
ul.menu-list ul,
ul.menu-list li {
  padding: 0;
}
ul.menu-list li {
  margin: 0;
  padding: 0 20px;
  border-right: 2px solid #e9ebed;
}
ul.menu-list li:last-child {
  border-right: none;
}
ul.menu-list li li {
  border-right: 1px solid #7d8998;
  border-right: 1px solid var(--color-border-control-default-m3lmsh, #7d8998);
}
ul.menu-list li li:first-child {
  padding-left: 0;
}
ul.menu-list li li:last-child {
  border-right: none;
  padding-right: 0;
}
ul.menu-list li > a {
  padding: 0 6px;
}
ul.menu-list li.title {
  margin-right: auto;
  border-right: none;
  font-weight: bold;
}
ul.menu-list li a,
ul.menu-list li div,
ul.menu-list li button,
ul.menu-list li input,
ul.menu-list li label {
  float: left;
  color: #414d5c;
  color: var(--color-text-interactive-default-eg5fsa, #414d5c);
  line-height: 16px;
}
ul.menu-list li #visual-refresh-toggle {
  margin-right: 5px;
  margin-top: 1px;
}
ul.menu-list li a,
ul.menu-list li a:hover {
  cursor: pointer;
  text-decoration: none;
}
ul.menu-list li.selected > a,
ul.menu-list li.selected > button {
  font-weight: bold;
  color: #0972d3;
  color: var(--color-text-accent-s1eqko, #0972d3);
}
ul.menu-list > li {
  padding: 0 20px;
}
ul.menu-list button,
ul.menu-list button:focus {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}
ul.menu-list li.checkbox-item {
  margin-right: 0;
}

#f {
  align-items: center;
  background-color: #0f1b2a;
  bottom: 0;
  display: flex;
  font-family: 'Open Sans', 'Helvetica Neue', Roboto, Arial, sans-serif;
  font-family: var(
    --font-family-base-qnistn,
    'Open Sans',
    'Helvetica Neue',
    Roboto,
    Arial,
    sans-serif
  );
  font-size: 14px;
  gap: 10px;
  justify-content: space-between;
  left: 0;
  margin: 0;
  min-height: 40px;
  padding: 10px 40px;
  position: absolute;
  right: 0;
  z-index: 2000;
}

.version {
  color: #d1d5db;
}

.stack-status {
  cursor: pointer;
  text-decoration: underline;
}

.alarm-title {
  font-size: 14px;
  font-weight: bold;
}

.alarm-value {
  font-size: 40px;
  margin-top: 10px;
  font-weight: 800;
  color: #999;
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
}

@media only screen and (max-width: 493px) {
  #f {
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 688px) {
  #f {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1182px) {
  #f {
    padding: 2px 40px;
  }
}
#f ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  margin: 0;
  flex-wrap: wrap;
}
#f ul li,
#f ul a {
  color: #d1d5db;
  color: var(--color-text-home-header-secondary-qfyemi, #d1d5db);
  text-decoration: none;
}
#f ul li .external-link,
#f ul a .external-link {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 16px;
}
#f ul li .external-link svg,
#f ul a .external-link svg {
  display: inline-block;
  fill: none;
  height: 16px;
  stroke-width: 2px;
  stroke: currentColor;
  width: 16px;
}
#f ul li .external-link svg .stroke-linecap-square,
#f ul a .external-link svg .stroke-linecap-square {
  stroke-linecap: square;
}
#f ul li .external-link svg .stroke-linejoin-round,
#f ul a .external-link svg .stroke-linejoin-round {
  stroke-linejoin: round;
}
#f ul a {
  cursor: pointer;
}
#f li:not(:last-child) a {
  border-right: 1px solid #7d8998;
  border-right: 1px solid var(--color-border-control-default-m3lmsh, #7d8998);
  padding-right: 10px;
}
#f .made-with-love {
  color: #d1d5db;
  color: var(--color-text-home-header-secondary-qfyemi, #d1d5db);
  min-width: 164px;
  text-align: right;
}
@media only screen and (max-width: 688px) {
  #f .made-with-love {
    text-align: left;
  }
}
#f .made-with-love img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  width: 34px;
  margin-top: 4px;
}
.density-switch-window {
  stroke: #000716;
  stroke: var(--color-background-home-header-mpq08f, #000716);
  fill: #ffffff;
  fill: var(--color-background-container-content-i8i4a0, #ffffff);
}
.density-switch-top-navigation {
  fill: #e9ebed;
  fill: var(--color-background-button-primary-disabled-eon7km, #e9ebed);
}
.density-switch-header {
  fill: #ffffff;
  fill: var(--color-background-layout-main-sfhm4y, #ffffff);
}
.density-switch-default {
  fill: #000716;
  fill: var(--color-text-body-default-ajf1h5, #000716);
}
.density-switch-primary {
  fill: #0972d3;
  fill: var(--color-background-button-primary-default-pwn1g1, #0972d3);
}
.density-switch-disabled {
  fill: #d1d5db;
  fill: var(--color-background-control-disabled-zplipy, #d1d5db);
}
.density-switch-secondary {
  fill: #414d5c;
  fill: var(--color-text-body-secondary-fdstdf, #414d5c);
}
.density-switch-separator {
  stroke: #e9ebed;
  stroke: var(--color-border-button-primary-disabled-6gwabt, #e9ebed);
}

.iframe-dashboard {
  width: 100%;
  height: 100%;
  border: 0px;
  overflow: 'hidden';
}

.iframe-explore {
  width: 100%;
  border: 0px;
  overflow: 'hidden';
}

.cs-analytics-config {
  display: flex;
  gap: 50px;
}

.cs-analytics-data-range {
  display: flex;
  gap: 5px;
}

.cs-analytics-no-select-project {
  text-align: center;
  max-width: 50%;
}

.cs-analytics-window {
  display: flex;
  gap: 5px;
  width: 60%;
  .cs-analytics-window-type {
    flex: 1;
    max-width: 120px;
  }
  .cs-analytics-window-value {
    flex: 1;
  }
  .cs-analytics-window-unit {
    flex: 1;
  }
}

.cs-analytics-session-window {
  display: flex;
  gap: 5px;
  .cs-analytics-session-window-type {
    flex: 1;
  }
  .cs-analytics-session-window-value {
    flex: 1;
  }
  .cs-analytics-session-window-unit {
    flex: 1;
  }
}

.cs-analytics-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .cs-dropdown-retention-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 6px 0;
    .header-label {
      background-color: rgba(148, 191, 255, 0.2);
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 4px;
      color: #0972d3;
    }
    .header-option {
      opacity: 0;
      transition: opacity ease-in 0.2s;
    }
  }
  .cs-retention-item:hover {
    .header-option {
      opacity: 1;
    }
  }
  .cs-analytics-parameter {
    display: flex;
    .event-delete {
      width: 30px;
      .remove-icon {
        display: none;
      }
    }
    &:hover {
      .remove-icon {
        display: block;
      }
    }
    .cs-para-name {
      position: relative;
      z-index: 10;
      background-color: #efefef;
      height: 28px;
      line-height: 28px;
      border: 2px solid #7d8998;
      padding: 0 12px;
      border-radius: 8px 0 0 8px;
      margin-right: -6px;
      color: #0972d3;
    }
  }
  .cs-dropdown-input {
    .cs-dropdown-event-input {
      [class^='awsui_dropdown-'] {
        opacity: 0 !important;
      }
      [class^='awsui_dropdown-content-wrapper'] {
        opacity: 0 !important;
      }
      .custom-popover {
        position: absolute;
        margin: 0px 0 0 0px;
        padding: 4px 8px;
        background-color: #666;
        color: #fff;
        border-radius: 8px;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        transition-delay: 0.5s;
      }
      &:hover {
        .custom-popover {
          opacity: 1;
        }
      }
    }
    .dropdown-input-column {
      gap: 5px;
      .second-select-option {
        width: 200px;
        flex-shrink: 0;
      }
    }
  }

  .cs-analytics-param-logic {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 26px;
    --line-color: #e4e7e9;
    &-line {
      width: 2px;
      flex-grow: 1;
      background-color: var(--line-color);
      transition: 0.3s;
    }
    &-item {
      background-color: #e3ebf5;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
      color: #1e54c9;
      transition-duration: 0.3s;
      transition-property: background-color, border-color, color;
      border-radius: 16px;
      width: 26px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #fff;
    }
    &-radius {
      color: var(--line-color);
      width: 6px;
      height: 10px;
      flex-shrink: 0;
      flex-grow: 0;
      font-size: 10px;
      line-height: 10px;
      transform: translate(2px, -1px);
      transition: 0.3s;
    }
    &.enable-change.and {
      cursor: pointer;
      &:hover {
        .cs-analytics-param-logic-line {
          background-color: #1e54c9;
        }
        .cs-analytics-param-logic-radius {
          color: #1e54c9;
        }
      }
    }
    &.enable-change.or {
      cursor: pointer;
      &:hover {
        .cs-analytics-param-logic-line {
          background-color: #07a35a;
        }
        .cs-analytics-param-logic-radius {
          color: #07a35a;
        }
      }
    }
  }

  .cs-analytics-param-events {
    .cs-analytics-condition-item {
      margin-top: 10px;
      padding: 0 5px;
      display: flex;
      gap: 5px;
      .condition-event {
        width: 120px;
        flex-shrink: 0;
        // flex: 1;
      }
      .condition-select {
        width: 120px;
        flex-shrink: 0;
      }
      .remove-item {
        width: 40px;
        .remove-item-icon {
          display: none;
        }
      }
      &:hover {
        .remove-item-icon {
          display: block;
        }
      }
    }
  }

  .cs-dropdown-pop {
    position: absolute;
    z-index: 99;
    pointer-events: auto;
    margin-top: 2px;
    transform-origin: 0% 0%;
    .cs-dropdown-pop-wrapper {
      width: 100%;
      min-width: 330px;
      padding: 0;
      border: none;
      border-radius: var(--border-radius-medium);
      background-color: none;
      box-shadow: none;
      overflow: visible;
      .cs-dropdown-pop-container {
        display: flex;
        position: relative;
        .cs-dropdown-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 330px;
          flex-shrink: 0;
          position: relative;
          background: #fff;
          border: 1px solid #d1d5da;
          box-sizing: border-box;
          box-shadow: 0 4px 12px rgba(27, 31, 35, 0.15);
          border-radius: 6px;
          .csdc-header {
            display: flex;
            padding: 6px 12px;
            align-items: center;
            justify-content: space-between;
            .csdc-header-tab {
              margin-right: 15px;
              .tab-item {
                padding: 5px;
                cursor: pointer;
                &.active {
                  border-bottom: 2px solid #3073f2;
                }
              }
            }
            .csdc-header-search {
              flex: 1;
            }
          }
          .csdc-container {
            overflow: hidden;
            border-top: 1px solid #e1e4f0;
            display: flex;
            flex: 1 1;
            .csdc-container-event-category {
              max-width: 129px;
              overflow-x: hidden;
              box-shadow: inset -1px 0 0 #e1e4f0;
              padding: 5px 0;
              &-content {
                padding: 0 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .category-item {
                cursor: pointer;
                padding: 4px 5px;
                &.active {
                  color: #0972d3;
                }
              }
            }
            .csdc-container-event-option-list {
              position: relative;
              direction: ltr;
              .item-container {
                white-space: nowrap;
                height: 280px;
                width: 300px;
                overflow: auto;
                will-change: transform;
                .event-item {
                  cursor: pointer;
                  padding: 6px 15px;
                  border: 1px solid transparent;
                  &:hover {
                    background-color: #efefef;
                  }
                  &.item-selected {
                    color: #0972d3;
                    background-color: #f3f8fc;
                    border: 1px solid #0972d3;
                  }
                }
                .item-group {
                  .item-group-header {
                    padding: 8px 15px;
                    color: #9ca2a9;
                    background-color: #f7f9fa;
                    .count {
                      margin-left: 10px;
                      width: 24px;
                      height: 24px;
                      line-height: 24px;
                      text-align: center;
                      display: inline-block;
                      border-radius: 50%;
                      background-color: #efefef;
                      color: #222;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
          }
        }
        .csdc-event-preview {
          left: 100%;
          width: 340px;
          height: 100%;
          position: absolute;
          flex-shrink: 0;
          &-container {
            display: flex;
            width: 100%;
            height: 100%;
            background: #fff;
            border: 1px solid #e1e4e8;
            box-sizing: border-box;
            border-radius: 6px;
            margin: 0 3px;
            color: rgba(20, 20, 20, 0.9);
            box-shadow: 0 4px 12px rgba(27, 31, 35, 0.1);
            overflow: hidden;
            justify-content: space-between;
            flex-direction: column;
            user-select: text;
            position: relative;
            &-content {
              position: relative;
              z-index: 100;
              padding: 16px 16px 0;
              flex: 1 1;
              overflow-y: auto;
              overflow-x: hidden;
              .event-type {
                display: inline-flex;
                align-items: center;
                box-sizing: border-box;
                height: 26px;
                padding: 0 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-weight: 500;
                line-height: 24px;
                &.system {
                  background: #eff5ff;
                  color: #3a5fbe;
                }
              }
              .event-info {
                margin-top: 10px;
                .header-name {
                  margin-top: 12px;
                  margin-bottom: 8px;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 24px;
                  color: #2f2f3f;
                }
                .info-tem {
                  display: flex;
                  padding: 5px 0;
                  .info-key {
                    color: rgba(20, 20, 20, 0.45);
                    margin-right: 8px;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Analytics Layout Style
.gs-analytics {
  header {
    background-color: #015292 !important;
  }
  [class^='awsui_scrolling-background'] {
    background-color: #014a87 !important;
  }
  [class^='awsui_dark-header'] {
    background-color: #014a87 !important;
  }
  [class^='awsui_background_'] {
    background-color: #014a87 !important;
  }
  [class^='awsui_breadcrumb'] {
    background-color: #014a87 !important;
  }

  .cs-analytics-header {
    display: inline-flex;
    border-radius: 20px;
    color: #0972d3;
    padding: 6px 20px;
    gap: 8px;
    span {
      display: inline-block;
    }
    &.event {
      background-color: #d3e7f9;
    }
    &.filter {
      color: #fff;
      background-color: #67a353;
    }
    &.group {
      background-color: #b1b4b1;
      color: #fff;
    }
  }

  .cs-analytics-select-group-item {
    width: 188px;
  }

  .sidebar {
    box-shadow: 0px 1px 1px 1px #e9ebed;
    width: 88px;
    height: calc(100vh - 56px);
    position: sticky;
    top: 56px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.expanded {
      width: 280px;
    }
    .expend-icon {
      border-top: 2px solid #e9ebed;
      padding: 20px 22px 30px 0;
      display: flex;
      justify-content: flex-end;

      .icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0px 1px 1px 2px #e9ebed;
        cursor: pointer;
        &:hover {
          background-color: #eeeeee;
        }
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #e9ebed;
        a {
          display: flex;
          flex: 1;
          align-items: center;
          text-decoration: none;
          color: #000716;
          font-size: 16px;
          font-weight: 800;
          letter-spacing: -0.5px;
          padding: 15px 5px 15px 25px;
          // cursor: pointer;
        }
        .icon {
          margin-right: 10px;
          display: flex;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #015292;
          align-items: center;
          justify-content: center;
          color: #ffffff;
        }
        &:hover {
          background-color: #eeeeee;
        }
        &.active {
          a {
            color: #2ea597;
          }
          .icon {
            background-color: #2ea597;
          }
        }
      }
    }
  }

  .sidebar .sidebar .sidebar:not(.expanded) .text {
    display: none;
  }
  #f {
    background-color: #014a87 !important;
  }
}
